<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="maven Test">
    <classes>
      <class name="maven.maven"/>      
    </classes>
  </test> <!-- Test -->
  <test name="yes2treatment">
  <classes>
    <class name="maven.yes2treatment"/>
    </classes>
  </test>
</suite> <!-- Suite -->
